@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');


.blog_post {
    margin-top: 80px;

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: poppins;
        color: #151515;
        letter-spacing: .3px;
    }

   p {
        display: block;
        max-width: 720px;
        font-size: 1.25rem;
        margin-bottom: 40px;
        letter-spacing: .35px;
        font-weight: 300;
        color: #898989;
  }
}